.review-item{
    display: flex;
    border: 1px solid red;
    align-items: center;
    width: 571px;
    margin: 0 auto;
    padding: 8px;;
}
.review-item img{
    width: 91px;
}
.review-details-container{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 17px;
    
}
.review-details p{
    margin: 0;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: coral;
}
.delet-icon{
    font-size: 31px;
    color: red;
}